
asgiref==3.8.1
backports.zoneinfo;python_version<"3.10"
# backports.zoneinfo==0.2.1
django==5.0.3 
django-environ==0.11.2
djangorestframework==3.15.1
eventlet==0.36.1

gunicorn==21.2.0
psycopg2==2.9.9
pytz==2024.1
six==1.16.0

django-cleanup==8.1.0
django-filter==24.2
django-phonenumbers==1.0.1 
django-phonenumber-field==7.3.0
django-oauth-toolkit==2.3.0
django-cors-headers==4.3.1


"""
asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.0.4
django-environ==0.8.1
djangorestframework==3.13.1
dnspython==1.16.0
eventlet==0.30.0

gunicorn==20.1.0
psycopg2==2.9.3
pytz==2022.1
six==1.16.0
sqlparse==0.4.3
Pillow==9.3.0
django-cleanup==6.0.0
pyotp==2.8.0
django-mptt==0.13.4

django-filter==22.1


django-phonenumbers==1.0.1 
django-phonenumber-field==7.0.0

django-oauth-toolkit==2.1.0
django-cors-headers==3.13.0

django-extensions==3.2.1
pydot==1.4.2 


nltk==3.8.1
numpy==1.23.4 
pandas==1.5.1
spacy==2.3.8
pdfminer.six==20200517
pyresparser==1.0.6

selenium==4.7.2 
webdriver-manager==3.8.5


pgsync==2.4.0


django-model-utils==4.2.0

django-elasticsearch-dsl==7.2.2
django-elasticsearch-dsl-drf==0.22.5
"""